<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.digital_bullet">
    <application>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <receiver
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver"
            android:exported="true" />
    </application>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
