<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75271550560-qfgvghegv3pr07bc20gmrj8212ml3uo3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75271550560-qfgvghegv3pr07bc20gmrj8212ml3uo3</string>
	<key>API_KEY</key>
	<string>AIzaSyAt9qbAQSVTnuKRgbnx7sE15ePAhj28WAg</string>
	<key>GCM_SENDER_ID</key>
	<string>75271550560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.digitalBullet</string>
	<key>PROJECT_ID</key>
	<string>digital-bullet</string>
	<key>STORAGE_BUCKET</key>
	<string>digital-bullet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75271550560:ios:6be5ef3f64885cbf073505</string>
	<key>DATABASE_URL</key>
	<string>https://digital-bullet-default-rtdb.firebaseio.com</string>
</dict>
</plist>